[Unit]
Description=Special mode manager

[Service]
Restart=always
RestartSec=2
ExecStart=/usr/bin/specialmodemgr
StartLimitInterval=0
Type=simple

[Install]
WantedBy=default.target
