[Unit]
Description=Intel BMC PSU Cold Redundancy

[Service]
Restart=always
RestartSec=5
StartLimitBurst=10
ExecStart=/usr/bin/env psuredundancy
SyslogIdentifier=psuredundancy

[Install]
WantedBy=multi-user.target
