/dts-v1/;
/plugin/;
/ {
    compatible = "$platform";
    fragment@0{
        target = <&i2c$bus>;
        __overlay__{
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";
            i2cswitch@$name {
                compatible = "nxp,pca9545";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <$reg>;
                oemname1 = "$name";
            };
        };

    };
};
